.bold
  +media(l)
    font-weight: bold

.hidden
  display: none

  +media(l)
    display: inline

.footer
  min-height: 476px

  +media(l)
    background-color: $footer-grey

  &-container
    background-color: $footer-grey
    padding: 0 16px
    color: $white

    +media(l)
      height: 393px
      padding: 56px 85px

  &__title
    padding: 24px 0 20px
    font-weight: bold
    font-size: 20px
    line-height: 24px

    +media(l)
      display: none
  
  &__subtitle
    padding-bottom: 32px
    font-size: 14px
    line-height: 20px

    +media(l)
      display: none

  &__list
    list-style-type: none
    padding: 0
    margin: 0

    +media(l)
      display: flex
      justify-content: center

    &-text
      display: none

      +media(l)
        display: block
        width: 172px
        font-size: 14
        list-style-type: none
        padding: 0
        margin: 0

    &-components
      height: 56px
      font-size: 16px
      line-height: 24px
      background: url('./assets/img/drop_down.png') no-repeat right 0

      +media(l)
        background: none
        font-size: 12px
        padding-bottom: 24px
        display: inline-block
        padding-right: 16px

      &_business
        margin-right: 10px
  
  &__nest-list
    display: none
    list-style-type: none
    padding: 0
    margin: 0

    +media(l)
      display: block
    
    &-components
      display: none

      +media(l)
        display: block
        font-size: 12px
        padding-bottom: 16px
        padding-right: 16px

      &_first-row-components
        padding-top: 24px
    
    &-components:hover
      color: $red

  &__rights
    color: #6E7782
    background-color: $white
    text-align: center
    font-size: 12px
    margin: 9px auto

    +media(l)
      background-color: $footer-grey
      padding: 41px 84px 0
      color: $white
      float: left

