.intro-section
  background-color: #F2F3F7
  background: url('./assets/img/hero_banner.png') no-repeat 90% 0
  background-size: contain

.solutions 
  background-color: #FFFFFF

.services
  background-color: #FFFFFF

.corporate-benifits
  background-color: #FFFFFF