$black: #001424
$red: #DD0000
$grey: #6E7782
$light-grey: #E2E5EB

body
  font: 'MTS Sans'

.intro-section
  background: url('./assets/img/hero_banner.png') no-repeat 50% 100%
  background-size: 229px 203px
  background-color: #F2F3F7
  min-height: 537px
  display: flex
  flex: column
  
  &__items
    padding: 0 16px
  
  &__text
    color: $black
    padding-top: 30px
    margin-bottom: 10px
    font-style: bold
    font-size: 16px
    line-height: 19px
    width: 288px

  &__title
    font-weight: bold
    text-transform: uppercase
    font-size: 32px
    line-height: 40px
    margin-bottom: 20px
  
  &__btn
    background: $red
    border-radius: 5px
    border: 1px solid $red
    width: 220px
  
  &__btn:hover
    background-color: $red
    border-color: $red

  &__img
    min-height: 192px
    max-width: 155px
    
.solutions 
  background-color: #FFFFFF
  padding: 0 16px

  &__subtitle
    font-size: 24px
    line-height: 32px
    color: $black
    font-weight: bold

    &_task-header
      margin: 44px 0 30px
    
    &_popular-service
      margin: 116px 0 30px
    
    &_shopping
      margin-bottom: 30px

  &__task-list
    list-style-type: none
    padding: 0
    margin: 0 0 30px 0
  
  &__task-components
    text-align: center
    font-size: 16px
    margin-bottom: 8px
    color: $grey
    padding: 7px 25px
    border: 1px solid $light-grey
    box-sizing: border-box
    border-radius: 16px
    
    &_red
      color: $red
  
  &__task-components:hover
    background-color: $red
    color: white
  
.mts
  &-card
    border: 1px solid $light-grey
    box-sizing: border-box
    border-radius: 8px
    max-height: 417px
    width: 261px
    padding: 0px 30px
    display: inline-block
    margin-left: 8px

    &__img
      margin-top: 30px
      margin-bottom: 16px
    
    &__title
      color: $black
      font-size: 24px
      margin-bottom: 20px

      &_push
        margin-bottom: 51px
    
    &__text
      color: #202D3D
      margin-bottom: 20px

      &_robot
        margin-bottom: 27px

      &_communicator
        margin-bottom: 36px
        width: 216px

      &_assistant
        margin-bottom: 55px

      &_push
        margin-bottom: 36px

    &__number
      margin-bottom: 20px
    
    &__btn
      background-color: #E2E5EB
      border-radius: 5px
      margin-bottom: 30px
      font-size: 16px
      color: $black
      padding: 6px 32px
      border: 1px solid #E2E5EB
      min-width: 211px
      min-height: 36px
    
  &-card:hover
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08)

.services
  display: flex
  flex-direction: column
  margin-bottom: 60px

  &__card
    border: 1px solid #E8E8E8
    box-sizing: border-box
    border-radius: 10px
    min-width: 288px
    height: 100%
    margin-bottom: 20px
    padding: 0px 20px

    &-title
      font-weight: 500
      font-size: 24px
      line-height: 32px
      margin-bottom: 10px

    &-text
      font-size: 16px
      line-height: 24px
      margin-bottom: 25px

    &-img-cloud
      min-width: 55px
      min-height: 53px
      margin: 29px 0 24px
    
    &-img-phone
      min-width: 57px
      min-height: 56px
      margin: 28px 0 22px
    
    &-img-cloudmts
      min-width: 56px
      min-height: 39px
      margin: 32px 0 27px
    
    &-img-worker
      min-width: 42px
      min-height: 44px
      margin: 28px 0 33px

  &__card:hover
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08)

ul.shopping-list
  list-style-type: none
  padding: 0
  margin: 0

li.shopping-list__img-bag
  background: url('./assets/img/bag.png') no-repeat left 0
  padding-left: 30px
  display: block

li.shopping-list__img-money
  background: url('./assets/img/rub_icon.png') no-repeat left 0
  padding-left: 30px
  display: block 

li.shopping-list__img-ticket
  background: url('./assets/img/checked.png') no-repeat left 0
  padding-left: 30px
  display: block

li.shopping-list__img-tv
  background: url('./assets/img/tv.png') no-repeat left 0
  padding-left: 30px
  display: block

li.shopping-list__img-code
  background: url('./assets/img/seven.png') no-repeat left 0
  padding-left: 30px
  display: block

.shopping-list
  &__img-bag
    margin-bottom: 16px

  &__img-money
    margin-bottom: 16px

  &__img-ticket
    margin-bottom: 16px

  &__img-tv
    margin-bottom: 16px

  &__img-code
    margin-bottom: 16px

  &__btn
    display: block
    min-width: 220px
    max-height: 36px
    background-color: $red
    border-color: $red
    margin: 0 auto 56px
  
  &__btn:hover
    background-color: $red
    border-color: $red
  